body {
	text-align: center;
	background-color: rgb(164, 179, 207);
	margin:0;
}
#main {
	width:320px;
	border: solid 3px rgb(11, 26, 54);
	margin:auto;
	padding: 10px;
	border-radius: 25px;
	background-color: rgb(101, 106, 116);
}
#displayContainer {
	width: 300px;
	height: 300px;
	border: solid 3px  rgb(11, 26, 54);
	border-radius: 300px;
	margin: 0 auto 10px auto;
	text-align: center;
	padding-top: 40px 40px;
}
#display {
	width: 210px;
	height: auto;
	border: solid 3px  rgb(11, 26, 54);
	border-radius: 15px;
	margin: 100px auto 10px auto;
	text-align: center;
	padding-top: 0px;
	background-color: rgb(129, 140, 161);
}
#counter{
	font-size: 75px;
	margin: auto auto;
	display: inline-block;
	
}
#stateLabel {
	font-size: 35px;
	margin: auto auto;
	display: inline-block;
}
#session {
	width: 300px;
	border: solid 3px  rgb(11, 26, 54);
	border-radius: 15px;
	margin: 0 auto 10px auto;
	padding:0;
}
#sessionTitles {
	width: 300px;
	display: grid;
	grid-template-columns: repeat(2, auto);
	font-size: 20px;
	border-bottom: dashed 2px rgb(11, 26, 54);
	padding-bottom: 10px;
}
#sessionTitles p{
	margin:0;
}
#sessionControlsContainer{
	width: 300px;
	display: grid;
	grid-template-columns: repeat(7, auto);
	margin:2px; 
	padding:0;
	font-size: 18px;
}
#sessionControlsContainer p{
	transform: translateY(-3px);
}
#controls {
	margin: 15px auto 10px auto;
	display: grid;
	grid-template-columns: repeat(3, auto);
}

.button{
	width: 25px;
	height: 25px;
	padding: 12px;
	
}
.buttons{
	width: 60px;
	height: 60px;
	margin:auto;
}
.buttons:active, .button:active {
	transform: scale(0.90,0.90);
}